html {
  overflow: hidden;
}
.editorial.home.florist section.notificationBar#deliveryFreeBar, .editorial.home.gifts section.notificationBar#deliveryFreeBar {
  top:0!important;
}
.panel__image, .panel__image--border {
  height:auto !important;
}
.rowGrid.article {
  height: auto !important;
  overflow: hidden !important;
  padding:0 !important;
}
a.cta, p.cta {
  font-weight: bold;
  text-decoration: underline;
}
@font-face {
  font-family:WaitroseRegular; 
  src: url("https://specialist-shops-module-maker.firebaseapp.com/fonts/Waitrose-Regular.eot"); 
  src: url("https://specialist-shops-module-maker.firebaseapp.com/fonts/Waitrose-Regular.eot?#iefix") format('embedded-opentype'), url("https://specialist-shops-module-maker.firebaseapp.com/fonts/Waitrose-Regular.woff") format('woff'), url("https://specialist-shops-module-maker.firebaseapp.com/fonts/Waitrose-Regular.TTF") format('truetype'), url("https://specialist-shops-module-maker.firebaseapp.com/fonts/Waitrose-Regular.svg") format('svg'); 
  font-weight: normal; font-style: normal;}

 @font-face {
  font-family:WaitroseBold; 
  src: url("https://specialist-shops-module-maker.firebaseapp.com/fonts/Waitrose-Bold.eot"); 
  src: url("https://specialist-shops-module-maker.firebaseapp.com/fonts/Waitrose-Bold.eot?#iefix") format('embedded-opentype'), url("https://specialist-shops-module-maker.firebaseapp.com/fonts/Waitrose-Bold.woff") format('woff'), url("https://specialist-shops-module-maker.firebaseapp.com/fonts/Waitrose-Bold.TTF") format('truetype'), url("https://specialist-shops-module-maker.firebaseapp.com/fonts/Waitrose-Bold.svg") format('svg'); 
  font-weight: normal; font-style: normal;} 

@font-face {
  font-family:WaitroseLight; 
  src: url("https://specialist-shops-module-maker.firebaseapp.com/fonts/Waitrose-Light.eot"); 
  src: url("https://specialist-shops-module-maker.firebaseapp.com/fonts/Waitrose-Light.eot?#iefix") format('embedded-opentype'), url("https://specialist-shops-module-maker.firebaseapp.com/fonts/Waitrose-Light.woff") format('woff'), url("https://specialist-shops-module-maker.firebaseapp.com/fonts/Waitrose-Light.TTF") format('truetype'), url("https://specialist-shops-module-maker.firebaseapp.com/fonts/Waitrose-Light.svg") format('svg'); 
  font-weight: normal; font-style: normal;}

@font-face {
  font-family:WaitroseLogofont; 
  src: url("https://specialist-shops-module-maker.firebaseapp.com/fonts/WaitroseLogofont.eot"); 
  src: url("https://specialist-shops-module-maker.firebaseapp.com/fonts/WaitroseLogofont.eot?#iefix") format('embedded-opentype'), url("https://specialist-shops-module-maker.firebaseapp.com/fonts/WaitroseLogofont.woff") format('woff'), url("https://specialist-shops-module-maker.firebaseapp.com/fonts/WaitroseLogofont.TTF") format('truetype'), url("https://specialist-shops-module-maker.firebaseapp.com/fonts/WaitroseLogofont.svg") format('svg'); 
  font-weight: normal; font-style: normal;}

@font-face {
  font-family:CrimsonTextItalic; 
  src: url("https://specialist-shops-module-maker.firebaseapp.com/fonts/CrimsonText-Italic.eot"); 
  src: url("https://specialist-shops-module-maker.firebaseapp.com/fonts/CrimsonText-Italic.eot?#iefix") format('embedded-opentype'), url("https://specialist-shops-module-maker.firebaseapp.com/fonts/CrimsonText-Italic.woff") format('woff'), url("https://specialist-shops-module-maker.firebaseapp.com/fonts/CrimsonText-Italic.ttf") format('truetype'), url("https://specialist-shops-module-maker.firebaseapp.com/fonts/CrimsonText-Italic.svg") format('svg'); 
  font-weight: normal; font-style: normal;}
@font-face {
  font-family: 'Telesans Text Web';
  src: url('https://specialist-shops-module-maker.firebaseapp.com/fonts/Telesans Text-Bold.otf') format("opentype");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Telesans Text Web';
  src: url('https://specialist-shops-module-maker.firebaseapp.com/fonts/Telesans Text-Bold Italic.otf') format("opentype");
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'Telesans Text Web';
  src: url('https://specialist-shops-module-maker.firebaseapp.com/fonts/Telesans Text-Regular.otf') format("opentype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}